option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "vacant.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "vacant/wsgi.py"
container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python vacant/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "python manage.py collectstatic --noinput"
