container_commands:
  01_syncdb:
   command: "django-admin.py syncdb --noinput"
   leader_only: true
  02_createadmin:
   command: "scripts/createadmin.py"
   leader_only: true
  03_migrate:
    command: "python manage.py migrate"
    leader_only: true
  04_createsu:
    command: "python manage.py createsu"
    leader_only: true
  05_collectstatic:
    command: "python manage.py collectstatic --noinput"
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "vacant.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "vacant/wsgi.py"
